@font-face {
  font-family: "roboto-mono";
  font-weight: bold;
  font-style: italic;
  src: url("roboto-mono-bold-italic.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: bold;
  font-style: normal;
  src: url("roboto-mono-bold.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: normal;
  font-style: italic;
  src: url("roboto-mono-italic.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: normal;
  font-style: normal;
  src: url("roboto-mono.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: 300;
  font-style: italic;
  src: url("roboto-mono-light-italic.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: 300;
  font-style: normal;
  src: url("roboto-mono-light.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: 500;
  font-style: italic;
  src: url("roboto-mono-medium-italic.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: 500;
  font-style: normal;
  src: url("roboto-mono-medium.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: 100;
  font-style: italic;
  src: url("roboto-mono-thin-italic.ttf");
}
@font-face {
  font-family: "roboto-mono";
  font-weight: 100;
  font-style: normal;
  src: url("roboto-mono-thin.ttf");
}
